<h1 mat-dialog-title>Eliminar empleado</h1>
<div mat-dialog-content>
    ¿Desea eliminar el empleado "{{dataEmpleado.nombreCompleto}}" ?
</div>
<div mat-dialog-actions>
  <button mat-raised-button mat-dialog-close color="warn">No, volver</button>
  <button mat-raised-button color="primary"
    (click)="confirmar_Eliminar()"
    cdkFocusInitial
    >Si,eliminar
  </button>
</div>
