<h1 mat-dialog-title>{{tituloAccion}} Empleado</h1>
<div mat-dialog-content>
  <form [formGroup]="formEmpleado">
    <mat-grid-list cols="1" rowHeight="90px">
      
      <mat-grid-tile>
        <mat-form-field appearance="outline" style="font: size 14px; width: 100%;">
          <mat-label>Nombre Completo</mat-label>
          <input matInput formControlName='nombreCompleto' autocomplete="off">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline" style="font: size 14px; width: 100%;">
          <mat-label>Departamento</mat-label>
          <mat-select formControlName='idDepartamento'>
            <mat-option *ngFor="let item of listaDepartamentos" [value]="item.idDepartamento">
              {{item.nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline" style="font: size 14px; width: 100%;">
          <mat-label>Sueldo</mat-label>
          <input matInput formControlName='sueldo' autocomplete="off" type="number">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline" style="font: size 14px; width: 100%;">
          <mat-label>Fecha Contrato</mat-label>
          <input matInput [matDatepicker]="picker" formControlName='fechaContrato'>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>        
      </mat-grid-tile>

    </mat-grid-list>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button mat-dialog-close color="warn">Volver</button>
  <button mat-raised-button color="primary"
    (click)="addEditEmpleado()"
    [disabled]="formEmpleado.invalid"
    >{{botonAccion}}
  </button>
</div>
