<div style="width:70%;margin:40px auto;">
  <h1>Lista de Empleado</h1>
  <button mat-raised-button color="primary" (click)="dialogoNuevoEmpelado()">Nuevo Empleado</button>
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
  </mat-form-field>
  
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="NombreCompleto">
        <th mat-header-cell *matHeaderCellDef> Nombre Completo </th>
        <td mat-cell *matCellDef="let element"> {{element.nombreCompleto}} </td>
      </ng-container>
  
      <!-- Position Column -->
      <ng-container matColumnDef="Departamento">
        <th mat-header-cell *matHeaderCellDef> Departamento </th>
        <td mat-cell *matCellDef="let element"> {{element.nombreDepartamento}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="Sueldo">
        <th mat-header-cell *matHeaderCellDef> Sueldo </th>
        <td mat-cell *matCellDef="let element"> {{element.sueldo}} </td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="FechaContrato">
        <th mat-header-cell *matHeaderCellDef> Fecha Contrato </th>
        <td mat-cell *matCellDef="let element"> {{element.fechaContrato}} </td>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="Acciones">
        <th mat-header-cell *matHeaderCellDef style="width: 80px;"> </th>
        <td mat-cell *matCellDef="let element" class="button-cell">
          <button mat-icon-button color="primary" (click)="dialogoEditarEmpelado(element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="dialogoEliminarEmpelado(element)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
  
</div>

